.link {
  text-decoration: none;
}

.link:hover {
  background-color: #f9f1f0;
}

.headtext {
  border: 1px solid;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  box-shadow: 1px 1px coral;
}
