
.formContainer {
    text-align: center;
    max-width: 470px;
    margin: 20px auto;
  }

  Form {
    align-items: center;
    border: 3px solid rgb(138, 53, 53);
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
    padding: 20px;
  }
  
  
  