.container {
  display: flex;
  padding: 20px 20px 20px 20px;
  border-bottom: 2px solid #524e50;
}

.middle__items {
  display: flex;
  flex-grow: 3;
  justify-content: space-evenly;
}

.left__items {
  flex-grow: 1;
}

.header {
  background-color: #eee4f0;
  position: relative;
  margin-bottom: 32px;
}
