
.formContainer {
    text-align: center;
    max-width: 450px;
    margin: 20px auto;
  }

  Form {
    align-items: center;
    border: 3px solid rgb(138, 53, 53);
    border-radius: 10px;
    box-shadow: 4px 4px 4px gray;
    padding: 20px;
  }
  #bar{
    font-weight: bold;
    height: 90px;
    background-color: rgb(67, 99, 158);
  }
  h2{
    
    width: 3;
    padding:30px;
     margin-top:60px;
     background-color: rgb(222, 239, 240);
  }