@import url("https://fonts.googleapis.com/css2?family=Festive&family=Oswald&display=swap");

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid #AC92A6;
  padding: 10px 10px 10px 10px;
  box-shadow: 5px 5px 10px #FFFFFC;
  z-index: 1;
  margin-bottom: 15px;
  
}

.left__items {
  color: purple;
  font-weight: 100px;
  font-size: 32px;
  font-family: "Festive", cursive;
}

span {
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
}

.middle__items,
.right__items {
  font-weight: 100px;
  font-size: 20px;
  color: #211042;
  font-family: "Oswald", sans-serif;
}

.link {
  text-decoration: none;
  align-items: center;
  padding: 10 10 10 10;
}

.link:hover {
  background-color: #BEB7A4;
  border: 1px solid white;
  border-radius: 8px;
}
