.home__wrapper {
  display: flex;
  margin-top: 100px;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.Info__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-top: 3px solid #6B717E;
  align-items: center;
}

.tutorInfo,
.eduInfo,
.sportsInfo,
.monitorInfo,
.guardianRatingInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
.tutorInfo {
  background-color: #d5c7bc;
}
.eduInfo {
  background-color: #dee8d5;
}
.sportsInfo {
  background-color: #e9fae3;
}

.monitorInfo {
  background-color: #c9c9ee;
}

.guardianRatingInfo {
  background-color: #efaac4;
}
